<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="butWrapp pull-right">
            <button modal-admin="addCategory" class="btn btn-default">Добавить категорию</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <tree-grid ng-if="$ctrl.categories"
                tree-data="$ctrl.categories"
                col-defs      = "$ctrl.col_defs"
                expand-on     = "$ctrl.expanding_property"
                tree-control  = "$ctrl.my_tree"
        ></tree-grid>
    </div>
</div>
