<div class="row" class="admin-products">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="butWrapp pull-right">
            <button modal-admin="addGood"  class="btn btn-default">Добавить товар</button>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table table-grid">
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>
                            Название
                            <input style="width:50%" type="text" ng-model="$ctrl.search.name" placeholder="Поиск" ng-change="$ctrl.searchProducts({name: $ctrl.search.name})">
                        </th>
                        <th>
                            Категория
                            <input style="width:50%" type="text" ng-model="$ctrl.search.category" placeholder="Поиск" ng-change="$ctrl.searchProducts({'category.name': $ctrl.search.category})">
                        </th>
                        <th>
                            Артикул
                            <input style="width:50%" type="text" ng-model="$ctrl.search.article" placeholder="Поиск" ng-change="$ctrl.searchProducts({article: $ctrl.search.article})">
                        </th>
                        <th>Новинки</th>
                        <th>Акция</th>
                        <th>Цена</th>
                        <th>Отметить</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in $ctrl.products | orderBy:'-created'">
                        <td>
                            <img style="object-fit: cover;" class="product-photo" ng-src="{{$ctrl.Conf.api_path}}/file/{{product.photo.uuid}}" alt="" width="100" height="80" no-image>
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{$ctrl.categoryText(product.category)}}</td>
                        <td>{{product.article}}</td>
                        <td><i ng-if="$ctrl.groups(product, 'new')" class="fa fa-check"></i></td>
                        <td>{{product.stock.name?product.stock.name + ' ' + '('+ product.stock.percent + '%)':''}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <div class="checkbo">
                                <input type="checkbox" id="{{product.article}}" ng-checked="product.selected" value="a" ng-click="$ctrl.selected(product)"/>
                                <label for="{{product.article}}"></label>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default btn-sm" ng-click="$ctrl.edit(product)" tooltip-placement="top" uib-tooltip="Редактировать">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-default btn-sm" ng-click="$ctrl.removeProd(product, $index)" modal-admin="delGood" tooltip-placement="top" uib-tooltip="Удалить">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="common_behavior">
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-spinner fa-spin" ng-if="$ctrl.gropsProcessing"></i>
                        Действия
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li ng-click="$ctrl.cancelSelected()"><a href="">Отменить</a></li>
                        <li modal-admin="remove-all-goods"><a href="">Удалить отмеченные</a></li>
                        <li modal-admin="stocks-add-to-all-goods"><a href="">Добавить акцию к отмеченным</a></li>
                        <li ng-click="$ctrl.workWithNew('add')"><a href="">Отметить как новинку</a></li>
                        <li ng-click="$ctrl.workWithNew('remove')"><a href="">Удалить из новинок</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" ng-click="$ctrl.showMore()">Показать больше</button>
            </div>
        </div>
    </div>
</div>