<div ng-init="product = $ctrl.product" ng-switch="$ctrl.editMode">
    <div class="btn_control">
        <button ng-click="$ctrl.edit()">Edit</button>
        <button ng-click="$ctrl.save()">Save</button>
    </div>
    <div class="card" ng-switch-when="false">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <zoom mark-height="100" mark-width="100" src="{{'/api/file/' + $ctrl.preview.uuid}}" zoom-lvl="4"></zoom>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="galleryWrap">
                            <div class="imageWrap" ng-repeat="photo in product.gallery">
                                <img class="cover img-responsive img-thumbnail" src="{{'/api/file/' + photo.uuid}}" ng-click="$ctrl.preview = photo" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="categCard">Женские пальто | Maria Veneda</p>
                        <div class="artNameCard">
                            <div>Артикул 30530101</div>
                            <p id="goodNameCard">{{product.name}}</p>
                        </div>
                        <div class="descriptionCard">
                            Очаровательное, изысканное и стильное женское пальто, которое непременно
                            займет достойное место в гардеробе ценительниц по-настоящему женственных
                            и элегантных вещей. Безукоризненно простой фасон подходит к любой фигуре,
                            а также обеспечивает универсальность и удобство.
                        </div>
                        <div class="priceCard"><span>2700 грн</span>
                            <strike>3100 грн</strike>
                        </div>
                        <hr class="marCard"/>
                        <div class="sizeCard">Размер
                            <div class="sizeCardDis">
                                <div class="checkbo">
                                    <input type="checkbox" id="144" name="option" value="a"/>
                                    <label for="144"></label><span>44</span>
                                </div>
                                <div class="checkbo">
                                    <input type="checkbox" id="146" name="option" value="a"/>
                                    <label for="146"></label><span>46</span>
                                </div>
                                <div class="checkbo">
                                    <input type="checkbox" id="148" name="option" value="a"/>
                                    <label for="148"></label><span>48</span>
                                </div>
                                <div class="checkbo">
                                    <input type="checkbox" id="150" name="option" value="a"/>
                                    <label for="150"></label><span>50</span>
                                </div>
                                <div class="checkbo">
                                    <input type="checkbox" id="152" name="option" value="a"/>
                                    <label for="152"></label><span>52</span>
                                </div>
                                <div class="checkbo">
                                    <input type="checkbox" id="154" name="option" value="a"/>
                                    <label for="154"></label><span>54</span>
                                </div>
                            </div>
                        </div>
                        <div class="buttonsCard">
                            <button type="button" class="btn btn-drul dark">оформить заказ</button>
                            <button type="button" class="btn btn-drul" ng-click="addToDeferred()">
                                <div class="fa fa-heart-o"></div> отложить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul role="tablist" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">О товаре</a></li>
                    <li role="presentation"><a href="#comm" aria-controls="profile" role="tab" data-toggle="tab">Отзывы</a></li>
                </ul>
                <div class="tab-content">
                    <div id="about" role="tabpanel" class="tab-pane active">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Состав</td>
                                        <td>Шерсть - 56%, Вискоза - 44%</td>
                                    </tr>
                                    <tr>
                                        <td>Длина рукава</td>
                                        <td>57 см</td>
                                    </tr>
                                    <tr>
                                        <td>Длина</td>
                                        <td>105 см</td>
                                    </tr>
                                    <tr>
                                        <td>Размер модели на фото</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>Рукав</td>
                                        <td>длинный</td>
                                    </tr>
                                    <tr>
                                        <td>Цвет</td>
                                        <td>бежевый</td>
                                    </tr>
                                    <tr>
                                        <td>Застежка</td>
                                        <td>на пуговицах</td>
                                    </tr>
                                    <tr>
                                        <td>Сезон</td>
                                        <td>Зима, Демисезон</td>
                                    </tr>
                                    <tr>
                                        <td>Коллекция</td>
                                        <td>Осень-зима</td>
                                    </tr>
                                    <tr>
                                        <td>Карманы</td>
                                        <td>2</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="comm" role="tabpanel" class="tab-pane">222</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" ng-switch-when="true">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <!--<div class="pos_rel">-->
                    <!--<div class="pos_abs edit_btn" ng-click="editMainPhoto()"><i class="fa fa-pencil"></i></div>-->
                    <!--<img src="{{'/api/file/' + $ctrl.preview.uuid}}" alt="{{$ctrl.preview.name}}" style="max-width:100%">-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                        <!--<div class="galleryWrap">-->
                            <!--<div class="imageWrap" ng-repeat="photo in product.gallery">-->
                                <!--<img class="cover img-responsive img-thumbnail" src="{{'/api/file/' + photo.uuid}}" ng-click="$ctrl.preview = photo" alt="">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div ng-include="'components/common/upload-template.html'" ng-init="uploader = $ctrl.uploader"></div>
                <table class="table" ng-hide="$ctrl.addingGallery || product.gallery.length == 0">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Главная</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="photo in product.gallery">
                            <td width="50%">
                                <strong class="name_goods">{{photo.name}}</strong>
                                <img src="{{'/api/file/' + photo.uuid}}" alt="" width="120" height="80" style="object-fit: cover;">
                            </td>
                            <td nowrap class="text-center">
                                <input type="radio" style="margin: 0 auto; display: block;" id="main" name="main" ng-checked="photo.type == 'main'"/>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.remove(photo)">
                                    <span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="categCard">Женские пальто | Maria Veneda</p>
                        <div class="artNameCard">
                            <div><input type="text" placeholder="Артикул"></div>
                            <p id="goodNameCard">
                                <input type="text" placeholder="Название">
                            </p>
                        </div>
                        <div class="descriptionCard">
                            <textarea placeholder="Описание" rows="10" cols="45"></textarea>
                        </div>
                        <div class="priceCard">
                            <span>
                                <input type="text" placeholder="цена">
                            </span>
                        </div>
                        <hr class="marCard"/>
                        <div class="sizeCard">Размер
                            <div class="sizeCardDis">
                                <select class="form-control" id="inputMultiple" multiple="multiple" ng-model="newProduct.size">
                                    <option ng-repeat="size in $ctrl.range">{{size}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul role="tablist" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">О товаре</a></li>
                    <li role="presentation"><a href="#comm" aria-controls="profile" role="tab" data-toggle="tab">Отзывы</a></li>
                </ul>
                <div class="tab-content">
                    <div id="about" role="tabpanel" class="tab-pane active">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Состав</td>
                                        <td>Шерсть - 56%, Вискоза - 44%</td>
                                    </tr>
                                    <tr>
                                        <td>Длина рукава</td>
                                        <td>57 см</td>
                                    </tr>
                                    <tr>
                                        <td>Длина</td>
                                        <td>105 см</td>
                                    </tr>
                                    <tr>
                                        <td>Размер модели на фото</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>Рукав</td>
                                        <td>длинный</td>
                                    </tr>
                                    <tr>
                                        <td>Цвет</td>
                                        <td>бежевый</td>
                                    </tr>
                                    <tr>
                                        <td>Застежка</td>
                                        <td>на пуговицах</td>
                                    </tr>
                                    <tr>
                                        <td>Сезон</td>
                                        <td>Зима, Демисезон</td>
                                    </tr>
                                    <tr>
                                        <td>Коллекция</td>
                                        <td>Осень-зима</td>
                                    </tr>
                                    <tr>
                                        <td>Карманы</td>
                                        <td>2</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="comm" role="tabpanel" class="tab-pane">222</div>
                </div>
            </div>
        </div>
    </div>
</div>