<div ng-init="product = $ctrl.product">
    <div class="card prodEdit">
        <div class="row">

            <!--GALLERY-->
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 table-responsive">
                <label>Галерея</label>
                <div ng-include="'admin/components/common/upload-template.html'" ng-init="uploader = $ctrl.uploader"></div>
                <table class="table" ng-hide="$ctrl.addingGallery || !product.gallery && !product.photo">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Обложка</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="photo in product.gallery">
                            <td>
                                <strong class="name_goods">{{photo.name}}</strong>
                                <img ng-src="{{$ctrl.Conf.api_path}}/file/{{photo.uuid}}" alt="" width="120" height="80" style="object-fit: cover;">
                            </td>
                            <td class="text-center">
                                <input type="radio" style="margin: 0 auto; display: block;" id="main" name="main" ng-checked="photo.type == 'main'"/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="$ctrl.remove(photo)">
                                <span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END GALLERY-->

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="categCard">
                            <label>Категория</label>
                            <ul class="category_list">
                                <li ng-repeat="category in $ctrl.categories">
                                    <i class="fa fa-{{category.show ? 'minus':'plus'}}" ng-if="category.children.length > 0" ng-click="category.show = !category.show"></i>
                                    <i class="fa fa-file" ng-if="category.children == 0"></i>
                                    <a ng-click="$ctrl.addCategory(category)">{{category.name}}</a>
                                    <i class="fa fa-check" ng-show="$ctrl.searchCurrentCategory() == category"></i>
                                    <ul ng-if="category.children" ng-show="category.show" class="children">
                                        <li ng-repeat="child in category.children">
                                            <i class="fa fa-file"></i>
                                            <a ng-click="$ctrl.addCategory(child, category)">{{child.name}}</a>
                                            <i class="fa fa-check" ng-show="$ctrl.searchCurrentCategory() == child"></i>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <div class="form-group">
                            <label>Артикул</label>
                            <input class="form-control" ng-model="product.article" ng-pattern-restrict="^[a-zA-Zа-яА-Я0-9_-]*$" placeholder="{{$ctrl.categoryArticle}}">
                        </div>
                        <div class="form-group">
                            <label>Название</label>
                            <input class="form-control" ng-model="product.name" ng-pattern-restrict="^[a-zA-Zа-яА-Я0-9 _-]*$" type="text" placeholder="Название">
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control" placeholder="Описание" rows="4" cols="45" ng-model="product.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Цена</label>
                            <input class="form-control" type="text" placeholder="Цена" ng-model="product.price" ng-pattern-restrict="^[0-9]*$" ng-disabled="product.stock">
                        </div>
                        <!--ng-change="product.stock != 'stock.uuid'?$ctrl.stockFun(product.stock.percent, product.price):''"-->
                        <div class="form-group" ng-show="product.stock">
                            <label>Цена без учета скидки</label>
                            <div>{{product.stock.old_price}}</div>
                        </div>
                        <div class="form-group">
                            <label>Акция</label>
                            <select class="form-control" ng-model="$ctrl.currentStock" ng-options="stock.name for stock in $ctrl.stocks" ng-change="$ctrl.applyStock()">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group" ng-repeat="combo in $ctrl.combinations">
                            <label style="width: 100%">{{combo.name}} <i class="fa viewCombo" ng-class="pror[$index].check?'fa-minus':'fa-plus'" ng-click="pror[$index].check = !pror[$index].check" aria-hidden="true"></i> <i class="fa fa-close viewCombo pull-right" ng-click="$ctrl.delCombo(combo.name)"></i></label>
                            <div ng-if="pror[$index].check">
                                <select ng-init="$ctrl.findComboModel(combo.name, combo.slug)" class="form-control" id="inputMultiple" multiple="multiple" ng-model="product.combo[$ctrl.findComboModel(combo.name, combo.slug)].values" ng-change="$ctrl.view(product)">
                                    <option ng-repeat="value in combo.value">{{value}}</option>
                                </select>
                                <small>Зажмите кнопку 'Ctrl' для выбора нескольких пунктов</small>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label style="width: 100%">Комментарии ({{product.comments.length}}) <i class="fa viewCombo pull-right" ng-class="$ctrl.viewComments?'fa-minus':'fa-plus'" ng-click="$ctrl.viewComments = !$ctrl.viewComments"></i></label>-->
                            <!--<div class="comment" ng-repeat="comm in product.comments" ng-show="$ctrl.viewComments">-->
                                <!--<span class="comment-meta">{{comm.created | date: short}}</span>-->
                                <!--<div class="comment-body">-->
                                    <!--<p>{{comm.body}}</p>-->
                                    <!--<div class="text-right">-->
                                        <!--<button class="btn btn-default btn-sm" modal-admin="review-remove">-->
                                            <!--<i class="fa fa-trash"></i>-->
                                            <!--Удалить-->
                                        <!--</button>-->
                                        <!--<button class="btn btn-default btn-sm" ng-if="!comm.publish" modal-admin="review-publish">Опубликовать</button>-->
                                    <!--</div>-->
                                    <!--<hr class="">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Дополнительные поля</label>
                    <div ng-hide="sub" class="form-group">
                        <button  type="submit" class="btn btn-default" ng-click="sub = !sub">Добавить поле</button>
                    </div>
                    <form class="form-inline" ng-show="sub">
                        <div class="form-group">
                            <label>Заголовок :</label>
                            <input type="text" class="form-control" ng-model="nameSub">
                        </div>
                        <div class="form-group" style="margin-left: 20px">
                            <label>Значение :</label>
                            <input type="text" class="form-control" ng-model="valueSub">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="sub = !sub; $ctrl.addSub(nameSub, valueSub); nameSub = null; valueSub = null;">Добавить</button>
                    </form>
                </div>

                <ul  id="myTabAdmin" role="tablist" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#aboutt" aria-controls="aboutt" role="tab" data-toggle="tab">О товаре</a></li>
                    <li role="presentation" ng-show="product.comments"><a href="#commm" aria-controls="commm" role="tab" data-toggle="tab">Отзывы ({{product.comments.length}})</a></li>
                </ul>
                <div class="tab-content">
                    <div id="aboutt" role="tabpanel" class="tab-pane active">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="sub in product.sublines">
                                        <td>{{sub.name}}</td>
                                        <td>{{sub.value}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="commm" role="tabpanel" class="tab-pane" ng-show="product.comments">
                        <div class="row">
                            <reviews ng-if="$ctrl.product" product="$ctrl.product"></reviews>
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                <!--<div class="comment" ng-repeat="comm in product.reviews">-->
                                    <!--<span class="comment-meta">{{comm.created | date: short}}</span>-->
                                    <!--<div class="comment-body">-->
                                        <!--<p>{{comm.body}}</p>-->
                                        <!--<div class="text-right">-->
                                            <!--<button class="btn btn-default btn-sm" modal-admin="review-remove">-->
                                                <!--<i class="fa fa-trash"></i>-->
                                                <!--Удалить-->
                                            <!--</button>-->
                                            <!--<button class="btn btn-default btn-sm" ng-if="!comm.publish" modal-admin="review-publish">Опубликовать</button>-->
                                        <!--</div>-->
                                        <!--<hr class="">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.error" class="callout callout-danger">
            <p>{{$ctrl.error}}</p>
        </div>
        <div class="progress" style="" ng-show="$ctrl.uploading">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': $ctrl.uploader.progress + '%' }"></div>
        </div>
        <div class="btn_control">
            <button class="btn btn-default" ng-click="$ctrl.save()">Save</button>
        </div>
    </div>
</div>

<script>
    $('#myTabAdmin a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>