<div class="row" class="admin-products">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="butWrapp pull-right">
            <button modal-admin="addGood" size="sm" class="btn btn-default">Добавить товар</button>
        </div>
        <table class="table table-grid">
            <thead>
                <tr>
                    <th>Фото</th>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Артикул</th>
                    <th>Цена</th>
                    <th>Отметить</th>
                    <!--<th>Редактировать</th>-->
                    <th>Изменить/Удалить</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in $ctrl.products | orderBy:'-created'">
                    <td>
                        <img style="object-fit: cover;" class="product-photo" ng-src="/api/file/{{product.photo.uuid}}" alt="" width="100" height="80" no-image>
                    </td>
                    <td>{{product.name}}</td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.article}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <div class="checkbo">
                            <input type="checkbox" id="{{product.name}}" name="option" value="a"/>
                            <label for="{{product.name}}"></label>
                        </div>
                    </td>
                    <!--<td><button class="btn btn-default btn-sm" ng-click="$ctrl.edit(product)">Edit</button></td>-->
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.edit(product)">Edit</button>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.removeProd(product, $index)" modal-admin="delGood">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>