<div class="main">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="accordion">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default category"
                     ng-class="{closed_accordion: category.children.length == 0}"
                     ng-repeat="category in $ctrl.categories" heading="{{category.name}}"
                     is-disabled="category.children.length == 0"
                     ng-click="category.children.length == 0 ? $ctrl.goTo(category) : ''">
                    <a ng-click="$ctrl.goTo(child)" ng-if="child.children.length == 0" ng-repeat="child in category.children" style="padding-left: 15px;">{{child.name}}</br></a>

                    <div uib-accordion-group class="panel-default category subcategory"
                         ng-class="{closed_accordion: category.children.length == 0}"
                         ng-if="child.children.length > 0" ng-repeat="child in category.children" heading="{{child.name}}"
                         is-disabled="child.children.length == 0"
                         ng-click="child.children.length == 0 ? $ctrl.goTo(child) : ''">
                        <a ng-click="$ctrl.goTo(child2)"  style="padding-left: 15px;" ng-repeat="child2 in child.children">{{child2.name}}</br></a>
                    </div>

                    <a class="pull-right" ng-click="$ctrl.goTo(category)">все...</br></a>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
