<div class="main">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="stepWrap">
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
            </ul>
        </div>

        <div class="accordion">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default category"
                     ng-class="[{closed_accordion: category.children.length == 0}, panel-open]"
                     ng-repeat="category in $ctrl.categories" heading="{{category.name}}"
                     template-url="bootstrap-template/accordion.html"
                     is-disabled="category.children.length == 0"
                     ng-click="$ctrl.goTo(category)">
                    <a ng-click="$ctrl.goTo(child);$event.stopPropagation()" ng-if="child.children.length == 0" ng-repeat="child in category.children" style="padding-left: 15px;">{{child.name}}</br></a>
                    <!--ng-class="{closed_accordion: category.children.length == 0}"-->
                    <div uib-accordion-group class="panel-default category subcategory"
                         template-url="bootstrap-template/accordion.html"
                         ng-if="child.children.length > 0" ng-repeat="child in category.children" heading="{{child.name}}"
                         is-disabled="child.children.length == 0"
                         ng-click="$ctrl.goTo(child);$event.stopPropagation()">
                        <a ng-click="$ctrl.goTo(child2);$event.stopPropagation()"  style="padding-left: 15px;" ng-repeat="child2 in child.children">{{child2.name}}</br></a>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
