<div class="main">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="accordion">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default category"
                     ng-class="{closed_accordion: category.children.length == 0}"
                     ng-repeat="category in $ctrl.categories" heading="{{category.name}}"
                     is-disabled="category.children.length == 0"
                     ng-click="category.children.length == 0 ? $ctrl.goTo(category.link) : ''">
                    <a href="{{'/category/' + child.link}}" ng-repeat="child in category.children">{{child.name}}</br></a>
                    <a class="pull-right" href="{{'/category/' + category.link}}">все...</br></a>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
