<!--Navigator-->
<top-nav search-view="true"></top-nav>

<!--Slider-->
<slider></slider>

<div class="container-fluid">

    <!--Category sidebar-->
    <categories-sidebar></categories-sidebar>

    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--Sort product-->
                <sort-product></sort-product>
            </div>
            <!--Product-->
            <a class="blackCol" ng-repeat="product in $ctrl.Product.products" href="{{'/product/' + product.uuid}}" ng-if="product.show">
                <product  product="product"></product>
            </a>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 butRegLogWrap" style="margin-bottom: 20px">
                <button class="btn btn-drul dark" ng-click="$ctrl.Product.showMore()" style="overflow: hidden">Показать еще</button>
                <!--<img src="/assets/images/ellipsis.svg">-->
            </div>
        </div>
    </div>
</div>
