<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modalBasicLabel">Добавление категории</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Название категории</label>
            <input class="form-control" id="name" autocomplete="off" ng-model="category.name" ng-change="transliterate(category.name, 'link')">
        </div>
        <div ng-if="error" class="callout callout-danger">
            <p>{{error}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" ng-click="addCategory()" class="btn btn-primary">Создать</button>
    </div>
</div>