<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modalBasicLabel">Basic Modal</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Название категории</label>
            <input class="form-control" id="name" autocomplete="off" ng-model="category.name">
        </div>
        <div class="form-group">
            <label for="link">Ссылка</label>
            <input class="form-control" id="link" autocomplete="off" ng-model="category.link">
            <small>Вы можете сгенерировать это поле автоматически (Вначале, заполните 'Название категории')</small>
            <br>
            <button type="button" ng-click="transliterate(category.name)" ng-disabled="!category.name" class="btn btn-default" data-dismiss="modal">Сгенерировать</button>
        </div>
        <div class="form-group">
            <label for="art">Articul</label>
            <input class="form-control" id="art" autocomplete="off" ng-model="category.article">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-disabled="!category.name&&!category.link&&!category.article" ng-click="addCategory()" class="btn btn-primary">Save changes</button>
    </div>
</div>