<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modalBasicLabel">Добавление товара</h4>
    </div>
    <div class="modal-body" ng-scrollbars ng-scrollbars-config="config">
        <div class="form-group">
            <label for="name">Название товара</label>
            <input class="form-control" id="name" autocomplete="off" ng-model="newProduct.name">
        </div>
        <div class="form-group">
            <label>Категория (TO DO)</label>

            <!--<label class="select select-o">-->
                <!--<select ng-model="newProduct">-->
                    <!--<option ng-repeat-start="categ in categories">{{categ.name}}-->
                    <!--</option>-->
                    <!--<option ng-repeat-end="child in categories[0].children">{{child}}</option>-->
                <!--</select>-->
                <!--<div ng-repeat="categ in categories">{{categ.name}}-->
                    <!--<div ng-repeat="child in categ.children">{{child.name}}</div></div>-->

            <!--</label>-->
        </div>
        <div class="form-group">
            <label for="cost">Цена</label>
            <input type="number" class="form-control" id="cost" autocomplete="off" fileread="newProduct.cost">
        </div>
        <div class="form-group">
            <label for="inputMultiple">Размер</label>
            <select class="form-control" id="inputMultiple" multiple="multiple" ng-model="newProduct.size">
                <option ng-repeat="size in range">{{size}}</option>
            </select>
            <small>Для выбора нескольких пунктов зажмите кнопку "Ctrl"</small>
        </div>
        <div class="form-group">
            <label for="about">Multiple</label>
            <textarea class="form-control" id="about" rows="7" ng-model="newProduct.about"></textarea>
        </div>
        <div class="form-group">
            <label for="art">Артикль</label>
            <input class="form-control" id="art" autocomplete="off" ng-model="category.article">
        </div>
        <div class="form-group">
            <label for="inputFile">Изображение</label>
            <input type="file" class="form-control" id="inputFile" autocomplete="off" fileread="newProduct.image">
        </div>
        <div class="form-group">
            <label>Дополнительные поля</label>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Состав</td>
                        <td>Шерсть - 56%, Вискоза - 44%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="error" class="callout callout-danger">
            <h4>{{error.statusText}}</h4>
            <p>{{error.data.message}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" ng-disabled="!category.name||!category.link||!category.article" ng-click="addCategory()" class="btn btn-primary">Создать</button>
    </div>
</div>