<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modalBasicLabel">Добавление шаблона</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="subject">Тема шаблона</label>
            <input class="form-control" id="subject" autocomplete="off" ng-model="template.subject">
        </div>
        <div class="form-group">
            <label for="body">Сообщение</label>
            <textarea class="form-control" id="body" rows="5" autocomplete="off" ng-model="template.body"></textarea>
        </div>
    </div>
    <div class="callout callout-danger text-center" ng-show="error">
        {{error}}
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <button type="button" ng-click="createTemplate()" class="btn btn-primary">Добавить</button>
    </div>
</div>