<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Изминенить шаблон</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="subject">Тема шаблона</label>
                <input class="form-control" id="subject" autocomplete="off" ng-model="curTemplate.subject">
            </div>
            <div class="form-group">
                <label for="body">Сообщение</label>
                <textarea class="form-control" id="body" rows="5" autocomplete="off" ng-model="curTemplate.body"></textarea>
            </div>
        </form>
        <div ng-if="error" class="callout callout-danger">
            <h4>{{error.statusText}}</h4>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" ng-click="change()" class="btn btn-primary">Сохранить</button>
    </div>
</div>