<div class="compact">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logoWrapper">
                <div class="logo" style="cursor: pointer" ui-sref="index"></div>
            </div>
            <ul class="navigation">
                <li class="searchInputWrap">
                    <input class="searchInput searchBord" ng-change="$ctrl.Product.search($ctrl.Product.searchValue)" ng-model="$ctrl.Product.searchValue" ng-show="$ctrl.search">
                    <div class="fa fa-search" tooltip-placement="right" tooltip-class="searchBord" uib-tooltip="Поиск" style="color: #fff" ng-click="$ctrl.search = !$ctrl.search"></div>
                </li>
                <li><a href="#/">Главная</a></li>
                <li ng-hide="!$ctrl.adminPermission"><a href="#/admin">Админка</a></li>
                <li><a ui-sref="index.about">о нас</a></li>

            </ul>
        </div>
    </div>
</div>