<!--Navigator-->
<nav-cus></nav-cus>

<div class="container-fluid">
    <div class="row pad15">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <!--<zoom mark-height="100" mark-width="100" src="{{'/api/file/' + product.photo.uuid}}" zoom-lvl="4"></zoom>-->

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img dynamic class="cover img-responsive" id="zoom_03"
                         src="{{'/api/file/' + $ctrl.Product.curProd.photo.uuid}}"
                         data-zoom-image="{{'/api/file/' + $ctrl.Product.curProd.photo.uuid}}"
                         ng-init="$ctrl.initImg()"
                         ng-if="$ctrl.Product.curProd.photo.uuid"
                         no-image
                         ez-plus
                         ezp-model="$ctrl.zoomModelGallery01"
                         ezp-options="$ctrl.zoomOptionsGallery01"
                    />
                    <div id="gallery_01" class="galleryWrap">
                        <a class="imageWrap"
                           ng-repeat="photo in $ctrl.Product.curProd.gallery"
                           ng-click="$ctrl.setActiveImageInGallery('zoomModelGallery01', photo.uuid);"

                           data-image="{{'http://95.46.99.177/api/file/' + photo.uuid}}"
                           data-zoom-image="{{'http://95.46.99.177/api/file/' + photo.uuid}}">
                            <img class="cover img-responsive img-thumbnail" ng-src="{{'/api/file/' + photo.uuid}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="categCard" ng-repeat="cat in $ctrl.Product.curProd.category.name">{{cat}}</p>

                    <div class="artNameCard">
                        <div>Артикул {{$ctrl.Product.curProd.article}}</div>
                        <p id="goodNameCard">{{$ctrl.Product.curProd.name}}</p>
                    </div>
                    <div class="descriptionCard">{{$ctrl.Product.curProd.description}}</div>
                    <div class="priceCard"><span>{{$ctrl.Product.curProd.stock?$ctrl.Product.curProd.stockCost  + ' ' + $ctrl.Product.curProd.currency:$ctrl.Product.curProd.price + ' ' + $ctrl.Product.curProd.currency}}</span>
                        <strike ng-if="$ctrl.Product.curProd.stock">{{$ctrl.Product.curProd.price + ' ' + $ctrl.Product.curProd.currency}}</strike>
                    </div>
                    <hr class="marCard"/>
                    <div class="sizeCard" ng-repeat="value in $ctrl.Product.curProd.combo">{{value.name}}
                        <div class="sizeCardDis">
                            <div class="checkbo" ng-repeat="(key, val) in value.values">
                                <input type="radio" id="{{val + key}}" name="{{value.name}}" value="{{val}}" ng-model="$ctrl.curProdCheck.combo[$parent.$index].val"/>
                                <label for="{{val + key}}"></label><span>{{val}}</span>
                            </div>
                        </div>
                    </div>
                    <!--$ctrl.cart.save($ctrl.Product.curProd)-->
                    <div class="buttonsCard">
                        <button type="button" class="btn btn-drul dark" ng-click="$ctrl.valueChecked()">Добавить в корзину</button>
                        <button type="button" class="btn btn-drul" ng-click="$ctrl.cart.addToDeferred($ctrl.Product.curProd)" modal="doneDef">
                            <div class="fa fa-heart-o"></div>
                            отложить
                        </button>
                    </div>
                    <div class="alert alert-warning optCheckMes" ng-if="$ctrl.mesWar">
                        Не все опции выбраны!
                    </div>
                    <div class="alert alert-success optCheckMes" ng-if="$ctrl.mesSuc">
                        Товар добавлен в <a ui-sref="index.cartMain">корзину</a>!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul id="myTab" role="tablist" class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab"
                                                          data-toggle="tab">О товаре</a></li>
                <li role="presentation"><a href="#comm" aria-controls="comm" role="tab" data-toggle="tab">Отзывы</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="about" role="tabpanel" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table">
                                <tbody>
                                <tr ng-repeat="sub in $ctrl.Product.curProd.sublines" >
                                    <td>{{sub.name}}</td>
                                    <td>{{sub.value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="comm" role="tabpanel" class="tab-pane">
                    <div class="comment-content" ng-repeat="com in $ctrl.Product.curProd.comments" ng-if="com.publish">
                        <h5 class="comment-author font-alt">
                            <a>{{com.owner_name}}</a>
                            <div class="comment-meta font-alt">{{com.created | date:'dd.MM.yyyy, H:mm'}}</div>

                        </h5>
                        <div class="comment-body">
                            <p>{{com.body}}</p>
                            <hr class="">
                        </div>

                    </div>

                    <div class="comment-form" ng-if="$ctrl.accessFormReview">
                        <div class="row">
                            <form>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="message" name="message" ng-model="$ctrl.commBody.body" class="form-control" placeholder="Ваш отзыв..." rows="8"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div ng-if="$ctrl.error.reviews" class="callout callout-danger">
                                        <p>{{$ctrl.error.reviews}}</p>
                                    </div>
                                    <div ng-if="$ctrl.message.reviews" class="callout callout-success">
                                        <p>{{$ctrl.message.reviews}}</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-drul dark" ng-click="$ctrl.sendComm()">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="similar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>вам также могут понравиться</p>
                    <div ng-repeat="n in [0, 1, 2, 3, 4, 5]" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="goodsBlock">
                            <img ng-src="/api/file/430ee8b4-be27-40b2-a16e-fdecedccf34a" class="img-responsive cover" no-image/>
                            <div class="namePrice">
                                <p>хрень {{n}}</p>
                                <hr class="line"/>
                                <span>1111</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
