<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="goodsBlock">
        <div class="goodsBlockHover">
            <div class="butWrappProd">

                <div class="{{$ctrl.class}}"
                     ng-show="$ctrl.User.active"
                     ng-mouseover="$ctrl.class='wrapW';
                     $ctrl.class1='s-11'"
                     ng-mouseleave="$ctrl.class='wrapB';
                     $ctrl.class1='s-2'"
                     ng-click="$ctrl.cart.addToDeferred($ctrl.product); $event.preventDefault(); $event.stopPropagation(); "
                     modal="doneDef">
                    <i class="{{$ctrl.class1}}"></i>
                </div>

                <div class="{{$ctrl.class}}"
                     ng-hide="$ctrl.User.active"
                     ng-mouseover="$ctrl.class='wrapW';
                     $ctrl.class1='s-11'"
                     ng-mouseleave="$ctrl.class='wrapB';
                     $ctrl.class1='s-2'"
                     ng-click="$event.preventDefault(); $event.stopPropagation(); "
                     modal="cancelAdd">
                    <i class="{{$ctrl.class1}}"></i>
                </div>


                <!--<div class="{{$ctrl.class3}}"-->
                     <!--ng-show="$ctrl.User.active"-->
                     <!--ng-click="$event.preventDefault(); $event.stopPropagation();-->
                     <!--$ctrl.cart.save($ctrl.product)"-->
                     <!--ng-mouseover="$ctrl.class3='wrapW';-->
                     <!--$ctrl.class2='s-12'"-->
                     <!--ng-mouseleave="$ctrl.class3='wrapB';-->
                     <!--$ctrl.class2='s-3'" modal="doneCart">-->
                    <!--<i class="{{$ctrl.class2}}"></i>-->
                <!--</div>-->

                <!--<div class="{{$ctrl.class3}}"-->
                     <!--ng-hide="$ctrl.User.active"-->
                     <!--ng-click="$event.preventDefault(); $event.stopPropagation()"-->
                     <!--ng-mouseover="$ctrl.class3='wrapW';-->
                     <!--$ctrl.class2='s-12'"-->
                     <!--ng-mouseleave="$ctrl.class3='wrapB';-->
                     <!--$ctrl.class2='s-3'" modal="cancelAdd">-->
                    <!--<i class="{{$ctrl.class2}}"></i>-->
                <!--</div>-->

            </div>
        </div>
        <div class="marker red" ng-if="$ctrl.product.stock">sale</div>
            <img ng-src="/api/file/{{$ctrl.product.photo.uuid}}" class="img-responsive cover" no-image/>
            <div class="namePrice">
                <div>Артикул {{$ctrl.product.article}}</div>
                <p>{{$ctrl.product.name}}</p>
                <hr class="line"/>
                <span ng-if="$ctrl.product.stockCost">{{$ctrl.product.stockCost + " " + $ctrl.product.currency}}</span>
                <span ng-if="!$ctrl.product.stockCost">{{$ctrl.product.price + " " + $ctrl.product.currency}}</span>
                <strike ng-show="$ctrl.product.stockCost">{{$ctrl.product.price + " " + $ctrl.product.currency}}</strike>
            </div>
        </div>
    </div>