<!--Navigator-->
<nav-cus></nav-cus>

<div class="container-fluid">
    <div class="row pad15">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <!--<zoom mark-height="100" mark-width="100" src="{{'/api/file/' + product.photo.uuid}}" zoom-lvl="4"></zoom>-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img dynamic class="cover img-responsive" id="zoom_03"
                         ng-src="{{$ctrl.Conf.api_path + '/file/' + $ctrl.product.photo.uuid}}"
                         data-zoom-image="{{$ctrl.Conf.api_path + '/file/' + $ctrl.product.photo.uuid}}"
                         ng-init="$ctrl.initImg()"
                         ng-if="$ctrl.product.photo.uuid"
                         no-image
                         ez-plus
                         ezp-model="$ctrl.zoomModelGallery01"
                         ezp-options="$ctrl.zoomOptionsGallery01"/>

                    <div id="gallery_01" class="galleryWrap">
                        <a class="imageWrap"
                           ng-repeat="photo in $ctrl.product.gallery"
                           ng-click="$ctrl.setActiveImageInGallery('zoomModelGallery01', photo.uuid);"

                           data-image="{{$ctrl.Conf.api_path + '/file/' + photo.uuid}}"
                           data-zoom-image="{{$ctrl.Conf.api_path + '/file/' + photo.uuid}}">
                            <img class="cover img-responsive img-thumbnail" ng-src="{{$ctrl.Conf.api_path}}/file/{{photo.uuid}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="stepWrap">
                        <ul>
                            <li ng-repeat="cat in $ctrl.product.category.name">
                                <a ng-href="/category/{{$ctrl.categoryLink($index)}}">{{cat}}</a>
                            </li>
                        </ul>
                    </div>
                    <!--<p class="categCard">-->
                        <!---->
                        <!--<span ng-repeat="cat in $ctrl.product.category.name">-->
                            <!--<a ng-href="/category/{{$ctrl.categoryLink($index)}}">{{cat}}</a>-->
                            <!--<span ng-if="$ctrl.product.category.name.length > 1 && !$last">&#8594</span>-->
                        <!--</span>-->
                    <!--</p>-->

                    <div class="artNameCard">
                        <div>Артикул {{$ctrl.product.article}}</div>
                        <p id="goodNameCard">{{$ctrl.product.name}}</p>
                    </div>
                    <div class="descriptionCard" style="white-space: pre">{{$ctrl.product.description}}</div>
                    <div class="priceCard"><span>{{$ctrl.product.price + ' ' + $ctrl.currencyService.cy}}</span>
                        <strike ng-if="$ctrl.product.oldPrice">{{$ctrl.product.oldPrice + ' ' + $ctrl.currencyService.cy}}</strike>
                    </div>
                    <hr class="marCard"/>
                    <div class="sizeCard" ng-repeat="value in $ctrl.product.combo">{{value.name}}
                        <div class="sizeCardDis">
                            <div class="checkbo" ng-repeat="(key, val) in value.values">
                                <input type="radio" id="{{val + key}}" name="{{value.name}}" value="{{val}}" ng-click="$ctrl.chooseCombo($parent.$index, value, val)"/>
                                <label for="{{val + key}}"></label><span>{{val}}</span>
                            </div>
                        </div>
                    </div>
                    <!--$ctrl.cart.save($ctrl.product)-->

                    <div class="alert alert-{{$ctrl.message.type}} optCheckMes" ng-show="$ctrl.message">
                        {{$ctrl.message.msg}}
                    </div>

                    <div class="buttonsCard">
                        <button type="button" class="btn btn-drul dark" ng-click="$ctrl.addToCart()">Добавить в корзину</button>

                        <button type="button" class="btn btn-drul" ng-click="$ctrl.buyNow($event)">
                            Купить в один клик
                        </button>

                        <button type="button" class="btn btn-drul" ng-show="$ctrl.user && !$ctrl.product.def" ng-click="$ctrl.addToDeferred()" modal="doneDef">
                            <div class="fa fa-heart-o"></div>
                            отложить
                        </button>
                        <button type="button" class="btn btn-drul" ng-show="$ctrl.user && $ctrl.product.def" ng-click="$ctrl.delFromDeferred()" modal="delDef">
                            <div class="fa fa-heart"></div>
                            отложено
                        </button>
                        <button type="button" class="btn btn-drul" ng-show="!$ctrl.user" modal="cancelAdd">
                            <div class="fa fa-heart-o"></div>
                            отложить
                        </button>

                    </div>
                    <!--<div class="alert alert-success optCheckMes" ng-if="$ctrl.mesSuc">-->
                        <!--Товар добавлен в <a ui-sref="index.cartMain">корзину</a>!-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul id="myTab" role="tablist" class="nav nav-tabs">
                <!--<li role="presentation" ><a href="#about" aria-controls="about" role="tab"-->
                                                          <!--data-toggle="tab">О товаре</a></li>-->
                <li role="presentation" class="active"><a href="#comm" aria-controls="comm" role="tab" data-toggle="tab">Отзывы</a>
                </li>
            </ul>
            <div class="tab-content">
                <!--<div id="about" role="tabpanel" class="tab-pane active">-->
                    <!--<div class="row" style="margin: 0">-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                            <!--<table class="table">-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="sub in $ctrl.product.sublines" >-->
                                    <!--<td>{{sub.name}}</td>-->
                                    <!--<td>{{sub.value}}</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div id="comm" role="tabpanel" class="tab-pane active">
                    <reviews ng-if="$ctrl.product" product="$ctrl.product"></reviews>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
