<style>
    .combinations td.child {
        padding-left:25px;
    }

    .combinations .comb_name {
        cursor: pointer;
    }
    .combinations .fa {
        color: #3877af;
    }
    .combinations .fa:hover {
        color: #23527C;
    }

</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="butWrapp pull-right">
            <button modal-admin="combination_add" class="btn btn-default">Добавить комбинацию</button>
        </div>
    </div>
</div>
<div class="combinations row">
    <div class="col-md-12 table-responsive">
        <table class="table table-grid" ng-show="$ctrl.combinations.length > 0">
        <thead>
        <tr>
            <th>Название</th>
            <th>Добавить значение</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody ng-repeat="combination in $ctrl.combinations">
            <tr>
                <td class="comb_name">
                    <p ng-hide="combination.edit" ng-click="$ctrl.show(combination)"><i ng-class="combination.show ? 'fa fa-minus' : 'fa fa-plus'"></i> {{combination.name}}</p>

                    <p ng-show="combination.edit">
                        <input type="text" ng-model="combination.name">
                    </p>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" modal-admin="combination_add_value">Добавить значение</button>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="$ctrl.changeComb(combination, $index)">
                        {{combination.edit ? 'Сохранить' : 'Изменить'}}
                    </button>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="$ctrl.remove(combination)">Удалить</button>
                </td>
            </tr>
            <tr ng-show="combination.show && combination.value.length > 0" ng-repeat="(key, value) in combination.value track by $index">
                <td class="child">
                    <p>
                        <i class="fa fa-file"></i> {{value}}
                    </p>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="$ctrl.removeChild(combination, $index)">Удалить</button>
                </td>
            </tr>
            <tr ng-show="combination.show && combination.value.length == 0">
                <td class="child">
                    <p>Пусто...</p>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>