<div class="content">
    <div class="content-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true" ng-switch="$ctrl.editUserInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user-circle"></i> Информация о пользователе </h3>
                        <i class="fa fa-pencil-square-o editBut" ng-click="$ctrl.editUserInfo = !$ctrl.editUserInfo" aria-hidden="true"></i>
                    </div>
                    <div ng-switch-when="false" class="panel-body">
                        <div class="field">
                            <div class="fieldName">
                                Имя:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.firstname}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Фамилия:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.lastname}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Email:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.email}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Страна:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.state}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Телефон:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.phone}}
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="true" class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Имя</label>
                                <input class="form-control" placeholder="Имя" ng-init="$ctrl.newInfo.firstname = $ctrl.order.firstname" ng-model="$ctrl.newInfo.firstname">
                            </div>
                            <div class="form-group">
                                <label>Фамилия</label>
                                <input class="form-control" placeholder="Фамилия" ng-init="$ctrl.newInfo.lastname = $ctrl.order.lastname" ng-model="$ctrl.newInfo.lastname">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" ng-init="$ctrl.newInfo.email = $ctrl.order.email" ng-model="$ctrl.newInfo.email">
                            </div>
                            <div class="form-group">
                                <label>Страна</label>
                                <input class="form-control" placeholder="Страна" ng-init="$ctrl.newInfo.state = $ctrl.order.state" ng-model="$ctrl.newInfo.state">
                            </div>
                            <div class="form-group">
                                <label>Телефон</label>
                                <input class="form-control" placeholder="Телефон" ng-init="$ctrl.newInfo.phone = $ctrl.order.phone" ng-model="$ctrl.newInfo.phone">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="$ctrl.saveChanges('user')">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true" ng-switch="$ctrl.editOrderInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o"></i> Информация о заказе</h3>
                        <i class="fa fa-pencil-square-o editBut" ng-click="$ctrl.editOrderInfo = !$ctrl.editOrderInfo" aria-hidden="true"></i>
                    </div>
                    <div ng-switch-when="false" class="panel-body">
                        <div class="field">
                            <div class="fieldName">
                                Номер:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.order_num}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Сумма:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.price}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Валюта:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.currency}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Дата:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.created | date:'short'}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Статус:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.status}}
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="true" class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Валюта</label>
                                <select class="form-control" ng-model="$ctrl.newInfo.currency" ng-init="$ctrl.newInfo.currency = $ctrl.order.currency">
                                    <option value="UAH">UAH</option>
                                    <option value="USD">USD</option>
                                    <option value="RUB">RUB</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Сатус заказа</label>
                                <select class="form-control" ng-model="$ctrl.newInfo.status" ng-init="$ctrl.newInfo.status = $ctrl.order.status">
                                    <option value="Новый заказ">Новый заказ</option>
                                    <option value="Ожидает получения оплаты">Ожидает получения оплаты</option>
                                    <option value="Оплачен">Оплачен</option>
                                    <option value="Комплектуется">Комплектуется</option>
                                    <option value="Запланирована передача перевозчику">Запланирована передача перевозчику</option>
                                    <option value="Доставляется">Доставляется</option>
                                    <option value="Ожидается получение">Ожидается получение</option>
                                    <option value="Возврат">Возврат</option>
                                    <option value="Выполнено">Выполнено</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="$ctrl.saveChanges('order')">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o"></i>
                            Список товаров
                        </h3>
                        <div class="order_new_product">
                            <span ng-if="$ctrl.showAddProduct">
                                <input type="text" placeholder="Поиск по артиклю" ng-model="$ctrl.searchValue" ng-change="$ctrl.searchProduct($ctrl.searchValue)" ng-disabled="$ctrl.searchDisabled">

                                <ul>
                                    <li ng-repeat="product in $ctrl.searchProducts">{{product.name}}</li>
                                </ul>
                            </span>
                            <i class="fa fa-{{$ctrl.showAddProduct ? 'minus' : 'plus'}}" tooltip-placement="top" uib-tooltip="{{$ctrl.showAddProduct ? 'Отмена' : 'Добавить товар'}}" ng-click="$ctrl.showAddProduct = !$ctrl.showAddProduct"></i>
                        </div>
                    </div>

                    <div class="panel-body">
                        <table class="table table-grid">
                            <thead>
                            <tr>
                                <th>Фото</th>
                                <th>Название</th>
                                <th>Артикул</th>
                                <th>Параметры</th>
                                <th>Цена</th>
                                <th>Удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in $ctrl.order.products">
                                <td>
                                    <img style="object-fit: cover;" class="product-photo" ng-src="/api/file/{{product.image}}" alt="" width="100" height="80" no-image>
                                </td>
                                <td>{{product.name}}</td>
                                <td>{{product.article}}</td>
                                <td>
                                    <div ng-repeat="combo in product.combo">
                                        <span>{{combo.name}}</span>
                                        {{combo.val}}
                                    </div>
                                </td>
                                <td>{{product.price}}</td>
                                <td>
                                    <button class="btn btn-default btn-sm" ng-click="$ctrl.pushProduct($ctrl.order, $index)" modal-admin="editOrderProd">Edit</button>
                                    <button class="btn btn-default btn-sm" ng-click="$ctrl.pushProduct($ctrl.order, $index)" modal-admin="delOrderProd">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>