{{$ctrl.order}}
<div class="content">
    <div class="content-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true" ng-switch="$ctrl.editUserInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user-circle"></i> Информация о пользователе </h3>
                        <i class="fa fa-pencil-square-o editBut" ng-click="$ctrl.editUserInfo = !$ctrl.editUserInfo" aria-hidden="true"></i>
                    </div>
                    <div ng-switch-when="false" class="panel-body">
                        <div class="field">
                            <div class="fieldName">
                                Имя:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.firstname}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Фамилия:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.lastname}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Email:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.email}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Страна:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.state}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Телефон:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.phone}}
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="true" class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Имя</label>
                                <input class="form-control" placeholder="Имя" ng-init="$ctrl.newUserInfo.firstname = $ctrl.order.firstname" ng-model="$ctrl.newUserInfo.firstname">
                            </div>
                            <div class="form-group">
                                <label>Фамилия</label>
                                <input class="form-control" placeholder="Фамилия" ng-init="$ctrl.newUserInfo.lastname = $ctrl.order.lastname" ng-model="$ctrl.newUserInfo.lastname">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" ng-init="$ctrl.newUserInfo.email = $ctrl.order.email" ng-model="$ctrl.newUserInfo.email">
                            </div>
                            <div class="form-group">
                                <label>Страна</label>
                                <input class="form-control" placeholder="Страна" ng-init="$ctrl.newUserInfo.state = $ctrl.order.state" ng-model="$ctrl.newUserInfo.state">
                            </div>
                            <div class="form-group">
                                <label>Телефон</label>
                                <input class="form-control" placeholder="Телефон" ng-init="$ctrl.newUserInfo.phone = $ctrl.order.phone" ng-model="$ctrl.newUserInfo.phone">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true" ng-switch="$ctrl.editOrderInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o"></i> Информация о заказе</h3>
                        <i class="fa fa-pencil-square-o editBut" ng-click="$ctrl.editOrderInfo = !$ctrl.editOrderInfo" aria-hidden="true"></i>
                    </div>
                    <div ng-switch-when="false" class="panel-body">
                        <div class="field">
                            <div class="fieldName">
                                Номер:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.order_num}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Сумма:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.price}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Валюта:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.currency}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Дата:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.created | date:'short'}}
                            </div>
                        </div>
                        <div class="field">
                            <div class="fieldName">
                                Статус:
                            </div>
                            <div class="fieldValue">
                                {{$ctrl.order.status}}
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="true" class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Валюта</label>
                                <select class="form-control" ng-model="$ctrl.newOrderInfo.currency" ng-init="$ctrl.newOrderInfo.currency = $ctrl.order.currency">
                                    <option value="UAH">UAH</option>
                                    <option value="USD">USD</option>
                                    <option value="RUB">RUB</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Сатус заказа</label>
                                <select class="form-control" ng-model="$ctrl.newOrderInfo.status" ng-init="$ctrl.newOrderInfo.status = $ctrl.order.status">
                                    <option value="Новый заказ">Новый заказ</option>
                                    <option value="Ожидает получения оплаты">Ожидает получения оплаты</option>
                                    <option value="Оплачен">Оплачен</option>
                                    <option value="Комплектуется">Комплектуется</option>
                                    <option value="Запланирована передача перевозчику">Запланирована передача перевозчику</option>
                                    <option value="Доставляется">Доставляется</option>
                                    <option value="Ожидается получение">Ожидается получение</option>
                                    <option value="Возврат">Возврат</option>
                                    <option value="Выполнено">Выполнено</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o"></i> Список товаров</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-grid">
                            <thead>
                            <tr>
                                <th>Фото</th>
                                <th>Название</th>
                                <th>Категория</th>
                                <th>Артикул</th>
                                <th>Цена</th>
                                <th>Удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in $ctrl.order.products">
                                <td>
                                    <img style="object-fit: cover;" class="product-photo" ng-src="/api/file/{{product.image}}" alt="" width="100" height="80" no-image>
                                </td>
                                <td>{{product.name}}</td>
                                <td>{{product.category.name[0]}}</td>
                                <td>{{product.article}}</td>
                                <td>{{product.price}}</td>
                                <td>
                                    <!--<button class="btn btn-default btn-sm" ng-click="$ctrl.edit(product)">Edit</button>-->
                                    <button class="btn btn-default btn-sm" ng-click="$ctrl.removeProd(product, $index)" modal-admin="delGood">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>