<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
        <table class="table table-grid">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th>Страна</th>
                    <th>Баланс</th>
                    <th>Удалить</th>
                    <th>Инфо</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.listUsers">
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.country}}</td>
                    <td>{{user.ballance}}</td>
                    <td><button class="btn btn-default btn-sm" modal-admin="remove-user">Удалить</button></td>
                    <td><button class="btn btn-default btn-sm" modal-admin="user-info"><i class="fa fa-info"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>