<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="setSiteWrap">
            <div ng-repeat="field in $ctrl.fields">
                <div class="nameSet">{{field.name}}</div>
                <ul ng-repeat="fl in field.props">
                    <li>{{fl.prop}}</li>
                    <li ng-switch="fl.type">
                        <input ng-switch-when='inp' type="number" class="form-control">
                        <select ng-switch-when='sel' class="form-control">
                            <option ng-repeat="opt in fl.opt">{{opt}}</option>
                        </select>
                        <div ng-switch-when='check' class="checkbo">
                            <input type="checkbox" id="111" name="option" value="a"/>
                            <label for="111"></label>
                        </div>

                    </li>
                </ul>
            </div>
            <div>
                <!--SLIDERS-->

                <slideshow></slideshow>

                <!--<div ng-if="$ctrl.error" class="callout callout-danger">-->
                    <!--<p>{{$ctrl.error}}</p>-->
                <!--</div>-->

                <!--<div class="progress" style="" ng-show="$ctrl.uploading">-->
                    <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': $ctrl.uploader.progress + '%' }"></div>-->
                <!--</div>-->

                <!--<button class="btn btn-default mar10" type="button" ng-show="uploader.queue.length > 0" ng-click="uploader.uploadSlide()">Загрузить</button>-->
                    <!--<table class="table" ng-hide="!$ctrl.slides">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Имя</th>-->
                            <!--<th>Ссылка</th>-->
                            <!--<th>Удалить</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="slide in $ctrl.slides">-->
                            <!--<td>-->
                                <!--<strong class="name_goods">{{slide.name}}</strong>-->
                                <!--<img ng-src="/api/file/{{slide.uuid}}" alt="" width="120" height="80" style="object-fit: cover;">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.remove(slide)">-->
                                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                                <!--</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

            </div>

        </div>
    </div>
</div>