<div class="row">
    <div class="setSiteWrap">
       <div class="monitoring col-md-12" style="width: 50%">
           Мотиноринг валюты:
           <span ng-if="!$ctrl.editMode">
               {{$ctrl.settings.monitoring || 0}}%
               <span class="pull-right">
                   <button class="btn btn-default btn-sm" style="margin-top: -4px" ng-click="$ctrl.editMode = true"><i class="fa fa-pencil"></i></button>
               </span>
           </span>

           <span class="pull-right" ng-if="$ctrl.editMode" style="margin-top: -4px">
               <input type="number" class="float-left" style="width:85px" ng-model="$ctrl.settings.monitoring">
               <button class="btn btn-default btn-sm" ng-click="$ctrl.saveSetting()"><i class="fa fa-check"></i></button>
           </span>

       </div>

        <div class="col-md-12">
            <music></music>
        </div>

        <div class="col-md-12">
            <slideshow></slideshow>
        </div>


    </div>
</div>