<button class="close-window pull-right" ng-click="close()"><i class="bi_interface-cross"></i></button>
<div role="document" class="modal-dialog modal-md">
    <h4 class="modal-title">Купить сейчас</h4>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="buyWrap">
                <div class="buyText">Введите свой номер телефона и на оператор свяжется с вами в ближайшее время.</div>
                <input placeholder="Номер телефона" ng-model="number"/>
            </div>
        </div>
    </div>
</div>