<button class="close-window pull-right" ng-click="close()"><i class="bi_interface-cross"></i></button>
<div role="document" class="modal-dialog modal-md">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="doneWrap">
                <div class="s-16"></div>
                <div class="doneTitle">товар добавлен</div>
                <div class="doneContext">
                    Товар уже добавлен. Для просмотра всех товаров в корзине перейдите по
                    <a href="" ui-sref="index.privat-office" ng-click="User.activeMenu = 1;close()">ссылке</a>
                </div>
            </div>
        </div>
    </div>
</div>