<button class="close-window pull-right" ng-click="close()"><i class="bi_interface-cross"></i></button>
<div role="document" class="modal-dialog modal-md">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="doneWrap">
                <div class="s-13"></div>
                <div class="doneTitle">товар не добавнел</div>
                <div class="doneContext">
                    Товар не добавлен в список. Вам нужно <a data-modal="register" ng-click="close()">зарегистрироваться</a> или <a data-modal="auth" ng-click="close()">войти</a> в свой аккаунт.
                </div>
            </div>
        </div>
    </div>
</div>