<button class="close-window pull-right" ng-click="close()"><i class="bi_interface-cross"></i></button>
<div role="document" class="modal-dialog modal-md">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="doneWrap">
                    <div class="s-2"></div>
                    <div class="doneTitle">товар добавнел</div>
                    <div class="doneContext">
                        Товар успешно добавлен в раздел избранных товаров. Для посмотра всех избранных товаров перейдите по
                        <a href="">ссылке</a>
                    </div>
                </div>
            </div>
        </div>
</div>