<button class="close-window pull-right" ng-click="close()"><i class="bi_interface-cross"></i></button>
<div role="document" class="modal-dialog modal-md">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="replaceWrap">
                <form role="form">
                    <div class="form-group" ng-repeat="combo in curProd.combo">
                        <label>{{combo.name}}</label>
                        <select class="form-control" ng-model="combos[$index].value" >
                            <option ng-repeat="val in combo.values" value="{{val}}">{{val}}</option>
                        </select>
                    </div>
                </form>
                <div ng-if="error" class="callout callout-danger">
                    <h4>{{error.statusText}}</h4>
                </div>
                <button type="button" ng-click="change()" class="btn btn-drul">Сохранить</button>
            </div>
        </div>
    </div>
</div>