<button class="close-window pull-right" ng-click="close()" ><i class="bi_interface-cross"></i></button>
<div role="document" class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="butRegLogWrap">
                    <button id="toLogin" class="logRegBut" modal="auth">войти</button>
                    <button id="toRegis" class="logRegBut" modal="register">регистрация</button>
                </div>
                <div class="inputRegLogWrap">
                    <form name="auth">
                        <p>Для сброса пароля введите свою эл. почту</p>
                        <input placeholder="Эл.почта" ng-model="email"/>
                        <div class="callout callout-danger" ng-show="error">
                            <p>{{error}}</p>
                        </div>
                        <button class="btn-drul dark" ng-click="reset()">Сбросить</button>
                        <div class="callout callout-info" ng-show="success">
                            <p>Наш вашу эл. почту выслано письмо с инструкциями</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




