<!--Navigator-->
<nav-cus></nav-cus>

<div class="office">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>личный кабинет</h1>
            <uib-tabset active="$ctrl.user.activeMenu">
                <uib-tab>
                    <uib-tab-heading>
                        Профиль
                    </uib-tab-heading>

                    <!--USER-->
                    <user-info></user-info>

                </uib-tab>
                <!--<uib-tab>-->
                    <!--<uib-tab-heading>-->
                        <!--Корзина-->
                    <!--</uib-tab-heading>-->
                    <!--<table class="table custom1">-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<td>Товар</td>-->
                                <!--<td></td>-->
                                <!--<td>Количество</td>-->
                                <!--<td>Цена</td>-->
                                <!--<td></td>-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                            <!--<tr ng-repeat-start="product in $ctrl.cart.cartList">-->
                                <!--<td>-->
                                    <!--<div class="marker red">sale</div>-->
                                    <!--<img ng-src="{{'/api/file/' + product.photo.uuid}}" class="img-responsive cover" alt=""></td>-->
                                <!--<td>-->
                                    <!--<div class="namePrice">-->
                                        <!--<div>Артикул {{product.article}}</div>-->
                                        <!--<p>{{product.name}}</p>-->

                                        <!--<div class="params">-->
                                            <!--<div>Состав</div>-->
                                            <!--<div>Шерсть - 56%, Вискоза - 44%</div>-->
                                        <!--</div>-->
                                        <!--<div class="params">-->
                                            <!--<div>Размер</div>-->
                                            <!--<div>42</div>-->
                                        <!--</div>-->
                                        <!--<div class="params">-->
                                            <!--<div>Цвет</div>-->
                                            <!--<div>Бежевый</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<div class="counter">-->
                                        <!--<button ng-click="$ctrl.countMinus()">‒ </button>-->
                                        <!--<input ng-model="$ctrl.counter" type="number"/>-->
                                        <!--<button ng-click="$ctrl.countPlus()">+</button>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<div class="namePrice">-->
                                        <!--<span>{{product.price}} грн</span>-->
                                        <!--<strike>{{product.price}} грн</strike>-->
                                        <!--<div class="marCustom1">Цена указана без учета доставки</div>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<div class="s-15" ng-click="$ctrl.cart.delFromCart(product)"></div>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr ng-repeat-end="product in $ctrl.cart.cartList">-->
                                <!--<td></td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</uib-tab>-->
                <uib-tab>
                    <uib-tab-heading>
                        Отложенные
                    </uib-tab-heading>
                    <table class="table custom">
                        <thead>
                        <tr>
                            <td>Товар</td>
                            <td></td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="defProd in $ctrl.cart.defList">
                            <td>
                                <div class="marker red">sale</div>
                                <img ng-src="{{'/api/file/' + defProd.photo.uuid}}" class="img-responsive cover" alt=""></td>
                            <td>
                                <div class="namePrice">
                                    <div>Артикул {{defProd.article}}</div>
                                    <p>{{defProd.name}}</p>

                                    <div class="params">
                                        <div>Состав</div>
                                        <div>Шерсть - 56%, Вискоза - 44%</div>
                                    </div>
                                    <div class="params">
                                        <div>Размер</div>
                                        <div>42</div>
                                    </div>
                                    <div class="params">
                                        <div>Цвет</div>
                                        <div>Бежевый</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="namePrice">
                                    <span>{{defProd.price}} грн</span>
                                    <strike>{{defProd.price}} грн</strike>
                                    <button type="button" ng-click="$ctrl.cart.replace(defProd);" class="btn btn-drul">переместить в
                                        <div class="s-3"></div>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="s-15" ng-click="$ctrl.cart.delFromDeferred(defProd)"></div>
                            </td>
                        </tr>
                        <tr ng-repeat-end="defProd in $ctrl.cart.defList">
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        История покупок
                    </uib-tab-heading>

                    <div class="main">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="accordion">
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-default orderList"
                                         ng-repeat="category in [1,2,3,4,5]" heading="111" >
                                        <uib-accordion-heading>
                                            <div class="orderNumb">001</div>
                                            <div class="orderDate">08.02.2017</div>
                                            <div class="orderSum">20000 грн</div>
                                        </uib-accordion-heading>

                                        <div class="accWrapper">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img class="img-responsive" src="http://95.46.99.177/api/file/fa349075-202b-4797-878f-66bed3297ba3" alt="">
                                                        </td>
                                                        <td>
                                                            <div>Артикул</div>
                                                            <div>Название</div>
                                                            <div>комбо1<span>знач</span></div>
                                                            <div>комбо2<span>знач</span></div>
                                                            <div>Колво</div>
                                                        </td>
                                                        <td>1123 грн.</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>