<!--Navigator-->
<nav-cus></nav-cus>

<div class="office">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>личный кабинет</h1>
            <uib-tabset active="$ctrl.mainService.activeMenu">
                <uib-tab>
                    <uib-tab-heading>
                        Профиль
                    </uib-tab-heading>

                    <!--USER-->
                    <user-info></user-info>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Отложенные
                    </uib-tab-heading>
                    <div class="row" ng-if="$ctrl.deferredList.length == 0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 400px; margin-top: 55px">
                            <h1 class="text-center"><i class="fa fa-heart-o" style="font-size: 45px"></i></h1>
                            <h1 class="text-center">У вас нет отложенных товаров</h1>
                            <h4 class="text-center"><a href="#/" style="color: silver; font-weight: 300">Перейти на главную</a></h4>
                        </div>
                    </div>

                    <table class="table custom" ng-if="$ctrl.deferredList.length > 0">
                        <thead>
                        <tr>
                            <td>Товар</td>
                            <td></td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="defProd in $ctrl.deferredList">
                            <td>
                                <div class="marker red" ng-if="defProd.stock">sale</div>
                                <img ng-src="{{$ctrl.Conf.api_path + '/file/' + defProd.photo.uuid}}" class="img-responsive cover" alt=""></td>
                            <td>
                                <div class="namePrice">
                                    <div>Артикул {{defProd.article}}</div>
                                    <p>{{defProd.name}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="namePrice">
                                    <span>{{defProd.price}} {{$ctrl.currencyService.cy}}</span>
                                    <strike ng-if="defProd.oldPrice">{{defProd.oldPrice}} {{$ctrl.currencyService.cy}}</strike>
                                    <button type="button" modal="replaceToCart" class="btn btn-drul">переместить в
                                        <div class="s-3"></div>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="s-15" ng-click="$ctrl.removeDeferred(defProd)"></div>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        История покупок
                    </uib-tab-heading>
                    <div class="row" ng-if="$ctrl.orders.length == 0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 400px; margin-top: 55px">
                            <h1 class="text-center"><i class="fa fa-book" style="font-size: 45px"></i></h1>
                            <h1 class="text-center">Вы еще не совершали покупок</h1>
                            <h4 class="text-center"><a href="#/" style="color: silver; font-weight: 300">Перейти на главную</a></h4>
                        </div>
                    </div>
                    <div class="main" ng-if="$ctrl.orders.length > 0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="accordion">
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-default orderList" ng-repeat="order in $ctrl.orders | orderBy: '- created'" heading="111">

                                        <uib-accordion-heading>
                                            <div class="orderNumb">{{order.order_num}}</div>
                                            <div class="orderDate">{{order.created | date:"MM/dd/yy ' ' h:mm"}}</div>
                                            <div class="orderStatus">{{order.status}}</div>
                                            <div class="orderSum">{{order.price + ' ' + order.currency}}</div>
                                            <div class="orderArrow"></div>
                                        </uib-accordion-heading>

                                        <div class="accWrapper">
                                            <table class="table">
                                                <tbody ng-repeat="product in order.products">
                                                    <tr ng-click="$ctrl.goToProduct(product)">
                                                        <td>
                                                            <img class="img-responsive" ng-src="{{$ctrl.Conf.api_path + '/file/' + product.photo.uuid}}" alt="">
                                                        </td>
                                                        <td>
                                                            <div>Артикул: {{product.article}}</div>
                                                            <div>{{product.name}}</div>
                                                            <div ng-repeat="combo in product.combo">{{combo.name}}:<span>{{combo.value}}</span></div>
                                                            <div>Кол-во: {{product.count}}</div>
                                                        </td>
                                                        <td>{{product.price + ' ' + order.currency}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>