<!--Show user info-->
<table class="table" ng-if="!$ctrl.editmode">
    <tbody>
    <tr>
        <td>Страна</td>
        <td>{{$ctrl.User.country}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>{{$ctrl.User.firstname}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>{{$ctrl.User.lastname}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Моб. номер</td>
        <td>{{$ctrl.User.phone}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Эл. почта</td>
        <td>{{$ctrl.User.email}}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button type="button" class="btn btn-drul dark" ng-click="$ctrl.editmode = true">Редактировать</button>
        </td>
    </tr>
    </tbody>
</table>

<!--Edit user info-->
<table class="table" ng-if="$ctrl.editmode">
    <tbody ng-init="$ctrl.copy()">
    <tr>
        <td>Страна</td>
        <td>
            <div class="checkbo">
                <input type="radio" id="ukr" name="ukr" value="Украина" ng-model="$ctrl.user.country"/>
                <label style="margin-right: 10px" for="ukr">Украина</label>
                <input type="radio" id="rus" name="rus" value="Россия" ng-model="$ctrl.user.country"/>
                <label for="rus"><span>Россия</span></label>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>
            <div class="form-group">
                <input class="form-control" placeholder="Имя" value="{{$ctrl.user.firstname}}" ng-model="$ctrl.user.firstname">
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>
            <div class="form-group">
                <input class="form-control" placeholder="Фамилия" value="{{$ctrl.user.lastname}}" ng-model="$ctrl.user.lastname">
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Моб. номер</td>
        <td>
            <div class="form-group">
                <input data-mask="phone_us" class="form-control" placeholder="Моб. номер" value="{{$ctrl.user.phone}}" ng-model="$ctrl.user.phone">
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Эл. почта</td>
        <td>
            <div class="form-group">
                <input class="form-control" placeholder="Эл. почта" value="{{$ctrl.user.email}}" ng-model="$ctrl.user.email">
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Пароль</td>
        <td>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Пароль" ng-model="$ctrl.user.password">
            </div>
        </td>
        <td></td>
    </tr>
    <tr ng-if="$ctrl.error" class="callout callout-danger">
        <td colspan="2">
            {{$ctrl.error}}
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-drul dark" ng-click="$ctrl.save()">Сохранить</button>
        </td>
        <td>
            <button type="button" class="btn btn-drul dark" ng-click="$ctrl.editmode = false">Отмена</button>
        </td>
    </tr>
    </tbody>
</table>
