<!--Navigator-->
<nav-cus></nav-cus>

<div class="cartMain">
    <div class="container-fluid" ng-if="!$ctrl.orderInfo">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="$ctrl.cartList.length == 0" style="height: 400px; margin-top: 100px;">
            <h1 class="text-center"><i class="fa fa-shopping-bag" aria-hidden="true" style="font-size: 45px"></i></h1>
            <h1 class="text-center">Ваша корзина пуста</h1>
            <h4 class="text-center"><a href="#/" style="color: silver;font-weight: 300">Перейти на главную</a></h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="$ctrl.cartList.length != 0">
            <h1>Корзина</h1>
            <table class="table custom1">
                <thead>
                <tr>
                    <td>Товар</td>
                    <td></td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="product in $ctrl.cartList">
                    <td>
                        <div class="marker red" ng-if="product.stock">sale</div>
                        <img ng-src="{{$ctrl.Conf.api_path + 'api/file/' + product.image}}" class="img-responsive cover" alt=""></td>
                    <td>
                        <div class="namePrice">
                            <div>Артикул {{product.article}}</div>
                            <p>{{product.name}}</p>

                            <div class="params" ng-repeat="value in product.combo">
                                <div>{{value.name}}</div>
                                <div>{{value.value}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="counter">
                            <button ng-click="$ctrl.countMinus($index)">‒ </button>
                            <input ng-model="product.counter" ng-init="product.counter = 1" ng-pattern-restrict="^[0-9]*$" ng-change="$ctrl.checkMinus($index)" type="number"/>
                            <button ng-click="$ctrl.countPlus($index)">+</button>
                        </div>
                    </td>
                    <td>
                        <div class="namePrice">
                            <span>{{product.price}} {{$ctrl.currencyService.cy}}</span>
                            <strike ng-if="product.stock">{{product.stock.old_price}} {{$ctrl.currencyService.cy}}</strike>
                            <div class="marCustom1">Цена указана без учета доставки</div>
                        </div>
                    </td>
                    <td>
                        <div class="s-15" ng-click="$ctrl.remove(product)"></div>
                    </td>
                </tr>
                <tr ng-repeat-end>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-drul dark" ng-click="$ctrl.makeOrder()" style="overflow: hidden">Оформить заказ</button></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <button data-modal="register" id="toMod" style="display: none"></button>
        </div>
    </div>
    <make-order ng-if="$ctrl.orderInfo" order="$ctrl.cartList" count="$ctrl.count" cost="$ctrl.cost"></make-order>
</div>

