<!--Navigator-->
<nav-cus></nav-cus>

<div class="cartMain">
    <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="$ctrl.orderSuccess">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="orderTitel">
                    1. информация о получатиле
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="orderInfo">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Страна</td>
                                <td>
                                    <div class="form-group">
                                        <select class="form-control" ng-model="$ctrl.orderMake.country">
                                            <option value="Украина">Украина</option>
                                            <option value="Россия">Россия</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" ng-model="$ctrl.orderMake.firstname">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Фамилия</td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" ng-model="$ctrl.orderMake.lastname">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Моб. номер</td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" ng-model="$ctrl.orderMake.phone" ng-pattern-restrict="^[0-9]*$">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Эл. почта</td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" ng-model="$ctrl.orderMake.email">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-if="$ctrl.error" class="callout callout-danger">
                    <p>{{$ctrl.error}}</p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="orderTitel">
                    2. способ доставки
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="orderInfo">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Варианты:</td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" ng-model="$ctrl.orderMake.delivery.method" ng-change="$ctrl.changeMethod()">
                                        <option value="{{method.uuid}}" ng-repeat="method in $ctrl.deliveryMethods()">{{method.name}}</option>
                                    </select>

                                    <div ng-if="$ctrl.choosedMethod">
                                        <p style="margin-top: 12px;">Стоимость доставки: {{$ctrl.choosedMethod.price.amount + ' ' +$ctrl.currencyService.cy}}</p>
                                        <span>Бесплаткая доставка от: {{$ctrl.choosedMethod.free + ' ' +$ctrl.currencyService.cy}}</span>
                                        <!--{{$ctrl.choosedMethod}}-->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Город</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" ng-model="$ctrl.orderMake.delivery.city">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Номер отделения</td>
                            <td>
                                <div class="form-group">
                                    <input type="number" ng-model="$ctrl.orderMake.delivery.numberPost">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="checkbo">
                                    <input type="checkbox" id="123" name="option" value="true" ng-model="$ctrl.orderMake.delivery.onHome" ng-change="$ctrl.viewDeliery=!$ctrl.viewDeliery"/>
                                    <label for="123"></label><span style="color: #000">Курьерская доставка</span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="$ctrl.viewDeliery">
                            <td>Улица</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" ng-model="$ctrl.orderMake.delivery.street">
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="$ctrl.viewDeliery">
                            <td>Дом</td>
                            <td>
                                <div class="form-group">
                                    <input type="number" ng-model="$ctrl.orderMake.delivery.house">
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="$ctrl.viewDeliery">
                            <td>Квартира</td>
                            <td>
                                <div class="form-group">
                                    <input type="number" ng-model="$ctrl.orderMake.delivery.flat">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-if="$ctrl.error1" class="callout callout-danger">
                    <p>{{$ctrl.error1}}</p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="orderCost">
                    <p>Товар: {{$ctrl.count}} шт.</p>
                    <!--<p>Доставка: {Цена}</p>-->
                    <!--<p>Курьерские услуги: {Цена}</p>-->
                    <!--<br>-->
                    <p>Общая сумма: {{$ctrl.Math.round($ctrl.cost * 100) / 100 +  ' ' + $ctrl.currency}}</p>
                </div>
                <button class="btn btn-drul dark" ng-click="$ctrl.orderFun()" style="overflow: hidden; float: right">Оформить заказ</button>
            </div>
        </div>

    </div>
    <div ng-show="$ctrl.orderSuccess" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-show="$ctrl.orderSuccess" ng-include="'/components/cart-main/success.html'"></div>
    </div>
</div>
</div>




