<!--Navigator-->
<nav-cus></nav-cus>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col sm-12 col-xs-12">
            <div class="aboutTopText">
                Today
            </div>
        </div>
    </div>
    <div class="row">
        <div class="aboutUsCon">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="aboutUs">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>о магазине</h3>
                            <p>Вас приветствует интернет-магазин TODAY.RU - магазин красивых покупок!
                                Порадуйте близких приятными косметическими подарками, подберите себе любимый оригинальный парфюм и сохраните свое драгоценное время от походов по магазинам.
                                Ведь TODAY.RU дарит вам такую возможность: здесь вы с легкостью найдете все это и даже немножко больше.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>почему мы?</h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="icons"><i class="bi_interface-heart"></i></div>
                            <b>Мы любим то, чем занимаемся</b>
                            <p>Заказывая у нас, вы столкнетесь с профессиональным сервисом, быстрой доставкой и приятными ценами.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="icons"><i class="bi_com-phone"></i></div>
                            <b>Мы заботимся о вас!</b>
                            <p>Мы готовы уделить вам максимум внимания: будь то помощь с бвыбором парфюма, помады или профессиональная консультация.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="icons"><i class="bi_ecommerce-diamon"></i></div>
                            <b>Нам можно доверять!</b>
                            <p>Мы работаем, исключительно, с официальными представительствами и дистрибьютерами известных мировых брендов в Украине.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                            <h3>наша цель</h3>
                            <p>TODAY.RU - это огромный ассортимент женской и мужской парфюмерии, декоративной косметики и средств по уходу, а также все самое необходимое для молодых мам и их чудных малышей.
                                Различные бонусы в виде дисконтной программы, регулярных акции и конкурсов - это ежедневное признание в нашей любви к вам!
                                <br>
                                <br>
                                Спасибо, что выбрали TODAY.RU  - лучшее место для красивых покупок.</p>
                        </div>
                    </div>
                </div>
                <div class="aboutUsBot">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p>Телефон</p>
                            <p>+380 66 010 1010</p>
                            <p>+380 96 020 2020</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p>Электронная почта</p>
                            <p>today@gmail.com</p>
                            <p>today@mail.ru</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p>Время работы</p>
                            <p>Пт-Пн: с 10:00 до 19:00</p>
                            <p>Сб: с 11:00 до 18:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>